<div class="container">
  <!-- TODO [Evgeny] make custom components instead of mat-card and mat-expandable-panel -->
  <mat-card class="period-dates">
    <mat-card-header>
      <mat-card-title>Period</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="dates-line">
        <div class="date">{{ periodData.From | date }}</div>
        <div class="dash">-</div>
        <div class="date">{{ periodData.To | date }}</div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Week</button>
      <button mat-button>Month</button>
      <button mat-button>Custom</button>
    </mat-card-actions>
  </mat-card>
  
  <div class="availables">
    <mat-card class="available-total">
      <mat-card-header>
        <mat-card-title>Available Total</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- TODO [Evgeny] make directive insead of manipulate with classes   -->
        <div class="overview-number"
             [class.positive]="periodData.AvailableFunds.AvailableTotalSpendingRoom >= 0"
             [class.negative]="periodData.AvailableFunds.AvailableTotalSpendingRoom < 0"
        >
        {{ periodData.AvailableFunds.AvailableTotalSpendingRoom }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="available-daily">
      <mat-card-header>
        <mat-card-title>Available Daily</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="overview-number"
             [class.positive]="periodData.AvailableFunds.AvailableDailySpendingRoom >= 0"
             [class.negative]="periodData.AvailableFunds.AvailableDailySpendingRoom < 0"
        >
        {{ periodData.AvailableFunds.AvailableDailySpendingRoom }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="starting-budget">
    <mat-card class="available-daily">
      <mat-card-header>
        <mat-card-title>Starting Budget: 
          <span class="overview-number"
                [class.positive]="startingBudget >= 0"
                [class.negative]="startingBudget < 0"
          >
            {{startingBudget}}
          </span></mat-card-title>
      </mat-card-header>
     
    </mat-card>
  </div>

  <!-- TODO [Evgeny make one reusable component for incomes and spendings] -->
  <div class="incomes">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="incomes-card-header">
          <div class="incomes-card-header-name-value">
            <div class="incomes-card-header-name">
              Incomes total: 
            </div>
            <div class="overview-number"
                 [class.positive]="totalIncomes >= 0"
                 [class.negative]="totalIncomes < 0"
            >
              {{totalIncomes}}
            </div>
          </div>
        </div>
      </mat-expansion-panel-header>
      
      <div class="income-list-item"
           *ngFor="let income of totalIncomesDetails" 
      >
        <div class="income-list-item-name">{{income.name}}</div>
        <div class="income-list-item-value">{{income.value}}</div>
        <div class="income-list-item-date">{{income.date | date}}</div>
      </div>
  
    </mat-expansion-panel>
  
  </div> 

  <div class="incomes">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="incomes-card-header">
          <div class="incomes-card-header-name-value">
            <div class="incomes-card-header-name">
              <!-- TODO [Evgeny] make more interesting design for button-->
              Expenses total: 
            </div>
            <div class="overview-number negative"
            >
              {{totalExpenses}}
            </div>
          </div>
          <button class="add-expense" 
                  mat-mini-fab color="primary"
                  (click)="onAddExpense($event)" 
          >
            <mat-icon>add</mat-icon>
          </button>
      </div>
      </mat-expansion-panel-header>
      
      <div class="income-list-item"
           *ngFor="let income of totalExpensesDetails.slice(0,7)" 
      >
        <!-- TODO [Evgeny] limit maximum lentgh + ellipses -->
        <div class="income-list-item-name">{{income.name}}</div>
        <div class="income-list-item-value">{{income.value}}</div>
        <div class="income-list-item-date">{{income.date | date}}</div>
      </div>
      <div class="manage-expenses-list">
        <button mat-button
                (click)="onNavigateToExpensesTable($event)"
        >
          More
        </button>
        <mat-icon>open_in_new</mat-icon>
      </div>

  
    </mat-expansion-panel>
  
  </div> 
</div>
