$dash-space: 8px;
$overview-container-side-margin: 16px;

.container {
    background: #fafafa;
    height: 100%;
}

mat-card.overview-cards {
  box-shadow: inset 0px 0px 3px 0px dimgrey;
  border-radius: 16px;
}

mat-card.overview-cards mat-card-title {
  color: dimgrey;
  font-weight: 500;
  opacity: 0.8;
}

mat-card.overview-cards.balance mat-card-content {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
  color: var(--positive-number-color);
  opacity: 0.8;
}

.period-options {
  background-color: var(--main-color-two);
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 64px;
}

.period-options button {
  color: dimgrey;
  font-weight: 400;
}

.period-options button:last-child {
  margin-left: 4px;
  font-weight: 500;
}

.period-dates {
  margin-bottom: 12px;
  font-size: 9px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.period-dates > div {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 22px;
  color: dimgrey;
}

.period-dates .dash {
  margin-right: $dash-space;
  margin-left: $dash-space;
}

.overview-cards-container {
  margin-left: $overview-container-side-margin;
  margin-right: $overview-container-side-margin;
}


.availables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px
}

.availables mat-card.overview-cards mat-card-content {
  margin-bottom: 32px;
}

.availables .incomings {
  flex: 1;
  margin-right: 8px;
}

.availables .spendings {
  flex: 1;
  margin-left: 8px;
}

.overview-number {
  font-size: 24px;
  font-weight: 400 !important;
  margin-top: 16px;
}

// .overview-number.positive {
//   color: var(--positive-number-color);
// }

// .overview-number.negative {
//   color: var(--negative-number-color);
// }

.starting-budget {
  margin-top: 16px;
}

.incomes {
  margin-top: 16px;
}

.incomes-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 16px;
}

.incomes-card-header-name-value {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.incomes-card-header-name {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  color: #000000;
  margin-right: 8px;
}

.add-expense {
  //transform: scale(0.8);
  background-color: var(--main-color-one);
  margin-left: 8px;
}

.income-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: solid thin rgba(0, 0, 0, 0.2);
  padding-top: 4px;
  padding-bottom: 4px;
  
  .income-list-item-date {
    width: 100px;
  }

  .income-list-item-value {
    width: 50px;
    margin-right: 16px;
    margin-left: 16px;
    text-align: end;
  }

  .income-list-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    flex: 1;
  }
}

.manage-expenses-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  //margin-top: 16px;
  opacity: 0.5;

}






