.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 700px;
  position: relative;
}

.top-bar {
  width: 100%;
}
.period-menu-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-right: 16px;
}

.period-menu-container > div {
  font-weight: bold;
  color: #777777;
  margin: 8px;
}

.period-menu-container > div:nth-child(1) {
  text-decoration: underline;
  text-decoration-color: #777777;
  text-decoration-thickness: 2px;
}


.outlet {
  position: relative;
  flex: 1
}

.expense-modal > .expense-modal-container {
  width: calc(100% - 32px);
  background-color: white;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  box-sizing: border-box;
}


/* Workaround. Need to make it online or with styled-components  */
.hoverable-box:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-width: '4px';
  background-color: #f5f5f5;
}

